@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700!Exo:100,200,300,400,500,600,700');


/* -------------------------Colours  */

/* o ponto antes eh para indicar a classe do html */

.bg-color-name-title {
    background-color: rgb(88, 81, 76);
}

.ui-menu-color-home {
    background-color: rgb(70, 156, 44);
}

.ui-menu-color-resume {
    background-color: rgb(206, 219, 24);
}

.ui-menu-color-contact {
    background-color: rgb(13, 24, 180);
}

.ui-menu-color-download {
    background-color: rgb(223, 95, 10);
}

/* -------------------------Special paddings/margins/text  */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase ;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

/* -------------------------Heading  */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/monica.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fafafa;
}

/* coloca-se essa segunda fonte para se no caso a primeira nao carregar  */

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fafafa;
}
/*  */
/* essa classe peguei no inspecionar do site e copiei para alterar a margem para zero no menu */

.list-inline-item:not(:last-child) {
    margin: 0;
}

/* essa font size eh pra nao ter gap entre os itens do menu  */

.menucontainer {
    font-size: 0;
}

/* o nav margin 0 eh para o tamanho da foto e do menu ficarem da mesma altura. esse nav eh tbm para o controle dos items do menu, padding para ter controle total */

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:#fafafa;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 25px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
}

/* ---------------------------Hoover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* -------------------------Footer  */

footer {
    background-color: rgb(88, 81, 76);
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size:18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: rgb(223, 95, 10);
}

.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(223, 95, 10);
}

#footer-details {
    padding: 20px;
}